# Demo of some `numpy` features

## MCS 275 Spring 2023 - David Dumas

This is a quick tour of some `numpy` features.  For more detail see:
* [Chapter 2 of VanderPlas](https://jakevdp.github.io/PythonDataScienceHandbook/02.00-introduction-to-numpy.html)
* [The numpy documentation](https://numpy.org/doc/stable/)

## Importing the module

In [1]:
import numpy as np
np.__version__

'1.21.5'

## Creating arrays

[List of built-in dtypes](https://numpy.org/doc/stable/reference/arrays.scalars.html#arrays-scalars-built-in).

In [2]:
# `np.array` will convert from an iterable
x = np.array([2,4,8,16,32])

In [4]:
x

array([ 2,  4,  8, 16, 32])

In [5]:
type(x)

numpy.ndarray

In [6]:
x.ndim # how many dimensions?

1

In [3]:
x.shape # size in each dimension, as a tuple

(5,)

In [8]:
len(x) # first element of `shape` attribute

5

In [9]:
x.dtype # int64 means (signed) integer, 64 bits

dtype('int64')

In [10]:
# Given a mix of integers and floats, numpy
# will choose a floating point dtype
y= np.array([5,6,7,7.289])

In [11]:
y

array([5.   , 6.   , 7.   , 7.289])

In [12]:
y.dtype # float64 means float, 64 bits (double)

dtype('float64')

In [15]:
# Let's make an array and manually specify the dtype

# uint8 means UNSIGNED integer, 8 bits
# UNSIGNED = only 0 and positive values
# range is 0...255
z = np.array([1,-1,2,100,300,500,800,16384], dtype="uint8")

In [16]:
z

array([  1, 255,   2, 100,  44, 244,  32,   0], dtype=uint8)

In [17]:
# Why did 300 appear as 44 in the array above?
300 % 256

44

In [4]:
# Make a 2D array from a list of lists
A = np.array( [[3,4,5,6], [1,10,100,1000]], dtype="float64")

In [21]:
A

array([[   3.,    4.,    5.,    6.],
       [   1.,   10.,  100., 1000.]])

In [22]:
A.shape

(2, 4)

## Filled arrays

In [24]:
# Filled with zeros
np.zeros( (3,12), dtype="int64")

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [5]:
# Filled with ones
np.ones( (6,2), dtype="float64")

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [26]:
# Filled with one value
np.full( (7,4), 42, dtype="uint8" )

array([[42, 42, 42, 42],
       [42, 42, 42, 42],
       [42, 42, 42, 42],
       [42, 42, 42, 42],
       [42, 42, 42, 42],
       [42, 42, 42, 42],
       [42, 42, 42, 42]], dtype=uint8)

In [40]:
# Filled with random numbers between 0 and 1
np.random.random( (4,5) )

array([[0.62722867, 0.47827549, 0.59818555, 0.38541672, 0.6674341 ],
       [0.46462364, 0.31997173, 0.35919429, 0.29443781, 0.35500977],
       [0.10191772, 0.79559869, 0.94564919, 0.81801346, 0.38433578],
       [0.8508341 , 0.67461338, 0.42248173, 0.28571683, 0.52764943]])

## Special things about 2D arrays

In [ ]:
# Identity matrix
np.eye(5)

In [ ]:
A = np.array([[1,2,3],[9,8,7]])
A

In [ ]:
# The transpose of A, which switches row and column roles
A.T

## Vector algebra

In [9]:
v = np.array([1,2,5])
w = np.array([4,-8,0])

In [11]:
v.dot(w) # dot product

-12

In [12]:
v.dot(v)**0.5 # length

5.477225575051661

In [13]:
1.8 * v # scalar multiplication

array([1.8, 3.6, 9. ])

In [14]:
v+w # elementwise sum

array([ 5, -6,  5])

In [15]:
v*w # elementwise product

array([  4, -16,   0])

## Arithmetic progressions

In [30]:
# Recall how you get a list of integer values
# in arithmetic progression using built-in stuff
list(range(3,20,2))

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [31]:
# From 2 up to but not including 3 in steps of size 0.1
np.arange(2,3,0.1)   # start, stop (not included), step

array([2. , 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9])

In [34]:
# From 12 to 14 in 6 steps; 
np.linspace( 12, 14, 6 )   # first, last, number of elements

array([12. , 12.4, 12.8, 13.2, 13.6, 14. ])

## Accessing items

In [35]:
A = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [36]:
A

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [37]:
# A[i,j] refers to the entry in row i, column j  (0-based)

In [38]:
A[1,2] # row index 1, col index 2

6

In [39]:
A[2]  # means row index 2

array([7, 8, 9])

In [40]:
# column 0 from A?
# its entries are A[---,0]
# numpy notation for that is A[:,0]
# : means "anything" in numpy indexing
A[:,0]

array([1, 4, 7])

In [41]:
A

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [42]:
B = np.array([[2,4,8,16,32],[1,-1,1,-1,1],[0,0,0,5,6],[7,6,5,4,3]])

In [43]:
B

array([[ 2,  4,  8, 16, 32],
       [ 1, -1,  1, -1,  1],
       [ 0,  0,  0,  5,  6],
       [ 7,  6,  5,  4,  3]])

In [44]:
B.shape

(4, 5)

## Assigning items

**`numpy` arrays are mutable**

In [45]:
# row,col
B[2,0] = 275

In [46]:
B

array([[  2,   4,   8,  16,  32],
       [  1,  -1,   1,  -1,   1],
       [275,   0,   0,   5,   6],
       [  7,   6,   5,   4,   3]])

In [48]:
B[3] = 567  # entire row 3 of B should have its entries set to 567

In [49]:
B

array([[  2,   4,   8,  16,  32],
       [  1,  -1,   1,  -1,   1],
       [275,   0,   0,   5,   6],
       [567, 567, 567, 567, 567]])

In [50]:
# Change an entire row at one time
B[3] = [1,10,-1,-10,78]  # set the values in row 3 to 1, 10, ...

In [51]:
B

array([[  2,   4,   8,  16,  32],
       [  1,  -1,   1,  -1,   1],
       [275,   0,   0,   5,   6],
       [  1,  10,  -1, -10,  78]])

## Slices

In [53]:
C = B[ 1:3 , 1:4 ]  # the submatrix from rows 1 and 2 and columns 1,2,3

In [54]:
C

array([[-1,  1, -1],
       [ 0,  0,  5]])

Slices return **views**, not copies.

In [64]:
C[:,:] = 51 # set every entry in C to 51

In [65]:
C

array([[51, 51, 51],
       [51, 51, 51]])

In [66]:
# Let's inspect B.
B

array([[  2,   4,   8,  16,  32],
       [  1,  51,  51,  51,   1],
       [275,  51,  51,  51,   6],
       [  1,  10,  -1, -10,  78]])

Note that `B` changed when we modified `C`, because `C` is simply a view of part of `B`.

## Ufuncs

Functions that automatically apply to each entry in an array.

### Some arrays to operate on

In [ ]:
v = np.arange(-5,6,1)
v

In [ ]:
A = np.array(range(1,16)).reshape((3,5))
A

### Examples

In [ ]:
np.exp(v) # apply e^x to each entry

In [ ]:
v**3 # cube each entry

In [ ]:
np.cos(v) # Take cosine of each entry

In [ ]:
np.cos(A) # Works the same for 2D arrays

In [ ]:
1/A # reciprocal of each entry

## Broadcasting

In [ ]:
A = np.array(range(1,16)).reshape((3,5))
A

In [ ]:
A[1] = 27 # A[1] is a row, 27 is a number
A

In [ ]:
A += 1 # increase everything by one
A

In [ ]:
A + [5,-5,-5,5,0] # gets added to every row

## Aggregations

`sum`, `max`, `min`, `argmax`, `argmin`, `mean`, `all`, `any`, `equal`

## Masks

## Pillow integration

* `np.array(img)` just works, if `img` is a `PIL.Image` object
* Use `PIL.Image.fromarray(A)` to make an image from an array
    * Shape `(height,width)` and dtype `uint8` for grayscale
    * Shape `(height,width,3)` and dtype `uint8` for color (last axis is red, green, blue)