# Python tour - MCS 275 Spring 2023 - David Dumas
## Live version (12pm)

In [1]:
1+1

2

In [4]:
# creates a variable x
# assigns it a value, which is a list
x = [260, 275, 14e6,  0.001, None, "avocado", False]
#    int  int  float  float  None  str        bool

y = x

s = "I lost my wireless mouse at the end of the last lecture"

In [5]:
x

[260, 275, 14000000.0, 0.001, None, 'avocado', False]

In [8]:
type(x)

list

In [9]:
type(s)

str

## Lists

In [10]:
# Indexing a list: get one of the items
x[5]

'avocado'

In [12]:
# Lists are MUTABLE
x[4] = float("inf")

In [13]:
x

[260, 275, 14000000.0, 0.001, inf, 'avocado', False]

In [14]:
y

[260, 275, 14000000.0, 0.001, inf, 'avocado', False]

In [15]:
z = list(x)

In [16]:
z[0] = "confusing variable semantics"

In [17]:
x

[260, 275, 14000000.0, 0.001, inf, 'avocado', False]

In [18]:
z

['confusing variable semantics', 275, 14000000.0, 0.001, inf, 'avocado', False]

In [19]:
# is tests for identity, not equality
# (are these two names for the same thing?)
x is y

True

In [20]:
x is z

False

In [21]:
L = [ 2, 3, 5, 7, 11, 13, 17, 19]

In [23]:
L[0] #first

2

In [24]:
L[1] # second

3

In [25]:
# don't do this
L[ len(L) - 1 ]

19

In [26]:
# instead do this
L[-1] # last element

19

### Slicing

In [28]:
L

[2, 3, 5, 7, 11, 13, 17, 19]

In [30]:
# All items except first and last
# L[start:stop] gives all items with index >= start
#                                and index < stop
L[1:-1]

[3, 5, 7, 11, 13, 17]

In [31]:
L[2:5]

[5, 7, 11]

In [32]:
#All but the first
L[1:]

[3, 5, 7, 11, 13, 17, 19]

In [33]:
# All but the last
L[:-1]

[2, 3, 5, 7, 11, 13, 17]

In [35]:
# Integer division: result is an integer, discards remainder
3//5

0

In [36]:
9//4

2

In [37]:
3/5 # is a float!

0.6

In [45]:
# ABCDEFG
# A C E G
#  B D F
#-->  ACEGDBF

def unriffle(L):
    even_pos = L[::2]
    odd_pos = L[1::2]
    return even_pos + odd_pos  # list addition is join

def first_half(L):
    return L[:len(L)//2]
def second_half(L):
    return L[len(L)//2:]
    
# Think about: write riffle()

In [46]:
unriffle(["A","B","C","D","E","F","G"])

['A', 'C', 'E', 'G', 'B', 'D', 'F']

In [41]:
L[::2] # even index elements, 0 2 4 6 etc

[2, 5, 11, 17]

In [ ]:
L[1::2] # odd index elements

## Dictionaries (dict)

In [48]:
# a bunch of key-value pairs, as key:value
d = { "name":"David Dumas", 
     "office":"SEO 722", 
     "department":"MSCS", 
     "fingers":10 }

In [49]:
d["name"]

'David Dumas'

In [50]:
d["office"]

'SEO 722'

In [51]:
L

[2, 3, 5, 7, 11, 13, 17, 19]

In [52]:
17 in L

True

In [53]:
18 in L

False

In [54]:
d

{'name': 'David Dumas',
 'office': 'SEO 722',
 'department': 'MSCS',
 'fingers': 10}

In [55]:
"David Dumas" in d  # Is "David Dumas" a KEY of dict d

False

In [56]:
"name" in d

True

In [57]:
d["office"] = "SEO 503"

In [58]:
d

{'name': 'David Dumas',
 'office': 'SEO 503',
 'department': 'MSCS',
 'fingers': 10}

In [59]:
d["current_teaching"] = ["MCS 275","MCS 275"]

In [60]:
d

{'name': 'David Dumas',
 'office': 'SEO 503',
 'department': 'MSCS',
 'fingers': 10,
 'current_teaching': ['MCS 275', 'MCS 275']}

In [61]:
d[  [1,2,3] ] = "failure"

TypeError: unhashable type: 'list'

## Control structures

### Conditionals

In [62]:
if 5 < 7:  # 5 < 7 is a boolean expression
    print("5 is smaller than 7")
else:
    print("7 is smaller than 5")

5 is smaller than 7

In [65]:
# These values are falsy: None, 0, 0.0, empty lists, empty dicts, empty sets
# Anything else converts to True
L = []
if L:
    print("L is not the empty list")

In [71]:
n = 39
if n%2 == 0:
    print(n,"is even")
elif n%3 == 0:
    print(n,"is a multiple of 3, and is odd")
else:
    print(n,"is odd and is not a multiple of 3")

39 is a multiple of 3, and is odd

## Loops

In [83]:
d

{'name': 'David Dumas',
 'office': 'SEO 503',
 'department': 'MSCS',
 'fingers': 10,
 'current_teaching': ['MCS 275', 'MCS 275']}

In [88]:
for k in d:
    print(k,"=",d[k])

name = David Dumas
office = SEO 503
department = MSCS
fingers = 10
current_teaching = ['MCS 275', 'MCS 275']

In [89]:
for k,v in d.items():
    print(k,"=",v)

name = David Dumas
office = SEO 503
department = MSCS
fingers = 10
current_teaching = ['MCS 275', 'MCS 275']

In [86]:
L = [2,3,5,7,11,13,17,19]

In [87]:
for x in L:
    print(x)

2
3
5
7
11
13
17
19

In [82]:
n = 1
while "7" not in str(2**n):
    n += 1
print(
    "The smallest power of 2 containing 7 as a digit is 2**{} = {}".format(n,2**n)
     )

The smallest power of 2 containing 7 as a digit is 2**15 = 32768

In [81]:
2**n

32768

In [72]:
2**1

2

In [73]:
2**2

4

In [74]:
2**3

8

In [75]:
2**6

64

In [76]:
2**12

4096